{% extends 'base.html' %}

{% block content %}

<style>
  form{
    height: 80%%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.582);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #0f4077;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
</style>

{{error}}

<form class="form" action="/signup/" method="POST">
    {% csrf_token %} 
    {{form}}
    
    <center><button class="btn btn-dark center">
      Agregar Usuario 
  </button></center>
</form>


{% endblock %}



